@font-face {
    font-family: "Barlow";
    src: url("/assets/fonts/Barlow/Barlow-Regular.ttf");
}


.headerArea {
    display: flex;
    align-items: center;
    padding: 60px 60px 15px;
}


.headerOptionBtnsArea {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    width: 700px;
    max-width: 100%;
}

.headerOptionBtn {
    color: #D0D6F9;
    text-decoration: none;
    font-family: "Barlow";
}

.optionNumber {
    font-weight: bold;
    margin: 0px 8px 0px 35px;
    color: white;
}


/* ////////////////////////////////////////////// */


.pageArea{
    display: flex;
    align-items: center;
    padding: 100px 100px 0px 100px;
}

.pageIntroduction{
     color:#D0D6F9;
}

.pageTitle{
    color: white;
    font-size: 40px;
}

.pageContent{
    color:#D0D6F9;
    max-width:400px;
    width: 100%;
}

.exploreArea{
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    font-size: 40px;
}