@font-face {
    font-family: "Bellefair";
    src: url("/assets/fonts/Bellefair/Bellefair-Regular.ttf");
}

@font-face {
    font-family: "Barlow";
    src: url("/assets/fonts/Barlow/Barlow-Regular.ttf");
}

.main{
    padding: 30px 150px;
}

.pageTitle{
    color: white;
}

.pageMainArea{
    display: flex;
    margin-top: 50px;
}

.nav{

}

.Link{
    color: white;
    margin:0px 3px ;
    font-family: "Barlow";
    text-decoration: none;
}

.pageMainContentArea{
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.mainContentTitle{
    color: white;
    font-size: 40px;
    font-family:"Bellefair";
}

.mainContent{
    color: #D0D6F9;
    font-family: "Barlow";
    max-width: 400px;
    width: 100%;
    margin-top: 15px;
}

.infoArea{
    display: flex;
    margin-top: 10px;
}

.timeInfoArea{
    display: flex;
    flex-grow:1;
    justify-content: end;
}

.avgDistance,
.estTime{
    color:#D0D6F9;
}

.distance,
.time{
    color: white;
    font-size:20px ;
}