@font-face {
    font-family: "Bellefair";
    src: url("/assets/fonts/Bellefair/Bellefair-Regular.ttf");
}

@font-face {
    font-family: "Barlow";
    src: url("/assets/fonts/Barlow/Barlow-Regular.ttf");
}

.main{
    padding: 30px 200px;
}

.pageTitle{
    color: white;
    font-family: "Barlow";
    font-size: 20px;
}

.pageNum{
    margin-right: 10px;
    color: #D0D6F9  ;
}

.pageMainArea{
    display: flex;
    margin-top: 50px;
}

.nav{
    margin-bottom: 30px;
}

.Link{
    color: white;
    margin:0px 13px ;
    font-family: "Barlow";
    text-decoration: none;
    color: #D0D6F9;
}

.pageMainContentArea{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin-top: 35px;
}

.mainContentTitle{
    color: white;
    font-size: 70px;
    font-family:"Bellefair";
}

.mainContent{
    color: #D0D6F9;
    font-family: "Barlow";
    max-width: 400px;
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
}

.hr{
    margin: 35px 0px;
    border-bottom: 1px #D0D6F9 solid;
}

.infoArea{
    display: flex;
    margin-top: 10px;
}

.timeInfoArea{
    display: flex;
    flex-grow:1;
    justify-content: end;
}

.avgDistance,
.estTime{
    color:#D0D6F9;
    font-size: 13px;
    font-family: "Barlow";
}

.distance,
.time{
    color: white;
    font-size:20px ;
    margin-top: 10px;
    font-family: "Bellefair";
}